footer
    .container
        .footer_row
            ul.menu.menu_left
                li
                    a(href="#") Bonuses
                li
                    a(href="#") Games
            .logo
                a.logo_link(href="/")
                    img.circle(src="img/svg_ellement.svg")
                    img.logo_img(src="img/logo.png")
            ul.menu.menu_right
                li
                    a(href="#") About
                li
                    a(href="#") Contacts

        .footer_text We invite you to enjoy the latest news about Yukon Gold Casino. Offering many games, it is an exciting place to gamble online. Know about its entertainment, bonuses, promotions, and win more with our Yukon Gold Casino guide!

        .copyright Copyright © 2021 All Rights Reserved.

