-var main_menu=['Специальности','Цены','Акции','Сроки обучения','Преимущества','О компании','Контакты'];

header
    .container
        .h_row
            .logo
                a(href="#")
                    img(src=dir+'logo.png')
                    span.logo_txt Поступи сейчас
            .main_menu

                ul.h_contacts
                    li
                        span.location г. Минск, ул. Кальварийская, д. 16, офис 239.
                    li
                        a.email(href="mailto:e-distant@e-distant.by") e-distant@e-distant.by
                    li
                        a(href="#") Время работы

                ul.menu
                    for m_item, index in main_menu
                        li
                            a(href="#")=m_item

                .h_right

                    .dropdown
                        .phone
                            a(href="tel: +375 (44) 709-82-57") +375 (44) 709-82-57
                            span выберите удобный номер
                        .dropdown_toggler
                        .dropdown_menu
                            ul
                                li
                                    a(href="tel:+375 (29) 509-82-57") +375 (29) 509-82-57
                                li
                                    a(href="tel:+375 (17) 227-99-90") +375 (17) 227-99-90
                    ul.soc_menu
                        li
                            a(href="#")
                                <svg width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M23.5204 0.118498C24.0235 0.512261 24.1295 1.28274 23.8445 2.47346C23.763 2.81406 23.5501 3.82157 23.3713 4.71237C23.1925 5.60317 22.8682 7.12516 22.6505 8.09456C22.4327 9.06396 22.1695 10.2858 22.0655 10.8098C21.8469 11.9114 21.1426 15.201 20.7396 17.0026C20.5873 17.6838 20.4107 18.4971 20.3472 18.81C20.2597 19.2417 20.1532 19.4571 19.9057 19.7029C19.5988 20.0078 19.5488 20.0244 19.0577 19.984C18.4921 19.9374 18.2594 19.8007 16.4188 18.4337C14.8496 17.2684 13.7023 16.4278 13.2344 16.101L12.7835 15.7859L11.2759 17.2279C10.2089 18.2485 9.67057 18.6967 9.43406 18.7616C9.2502 18.812 9.05886 18.8282 9.00899 18.7975C8.95711 18.7657 8.9433 18.491 8.97667 18.158C9.0089 17.8369 9.10078 16.5894 9.18076 15.3857C9.32453 13.2233 9.32942 13.1939 9.5877 12.9194C9.8504 12.6401 16.9331 6.25817 17.9413 5.39214C18.6551 4.77906 19.6797 3.8048 19.6797 3.73925C19.6797 3.58958 18.9707 3.83443 18.5639 4.12454C18.3072 4.30756 17.5793 4.77306 16.9463 5.15901C16.3133 5.54496 15.4582 6.07392 15.046 6.33458C14.6337 6.59516 13.6627 7.20386 12.888 7.68727C9.95043 9.52032 9.08188 10.066 8.13709 10.6723C6.44785 11.7563 6.44574 11.7571 5.87182 11.6203C4.69761 11.3405 0.446844 9.91723 0.240736 9.73478C-0.219338 9.32768 -0.00172125 8.72336 0.737734 8.35437C1.07284 8.18717 4.19476 6.95129 4.28194 6.95129C4.31436 6.95129 5.26462 6.58687 6.39356 6.14147C7.5226 5.69606 8.4838 5.33165 8.52964 5.33165C8.57539 5.33165 9.283 5.05869 10.102 4.72504C10.9209 4.39149 11.7601 4.06499 11.9668 3.99954C12.1736 3.93418 13.2059 3.54499 14.2609 3.13465C15.3158 2.72431 16.5675 2.24271 17.0422 2.06435C18.5982 1.47976 20.767 0.651931 21.5979 0.325621C22.4591 -0.0125978 23.2448 -0.0972951 23.5204 0.118498Z" fill="#6C6C6C"/>
                                </svg>

                        li
                            a(href="#")
                                <svg width="21" height="23" viewBox="0 0 21 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.26322 0.0276967C8.85393 0.052025 8.11817 0.129733 7.63799 0.199372C3.58136 0.787727 1.13104 2.66624 0.500721 5.67109C0.430959 6.00361 0.312638 6.70662 0.240069 7.21985C-0.137426 9.88897 -0.0714323 12.0329 0.450117 14.0447C0.643346 14.7901 0.809218 15.2427 1.09508 15.8048C1.54234 16.6843 2.16118 17.3963 2.93469 17.9215C3.24998 18.1356 3.55006 18.2762 4.17917 18.5048C4.45733 18.6058 4.75098 18.7204 4.83172 18.7595L4.97853 18.8305L4.99304 20.9091C5.00102 22.0523 5.00931 22.9905 5.01151 22.9939C5.01367 22.9972 5.21067 23 5.44926 23H5.88305L6.16953 22.7249C6.7913 22.1277 8.79813 20.1261 9.05846 19.8435C9.21025 19.6787 9.36273 19.5316 9.39732 19.5167C9.43581 19.5001 9.85689 19.4784 10.4821 19.4607C11.8878 19.4211 13.1984 19.3537 13.905 19.2848C15.8437 19.0955 17.2568 18.6246 18.3458 17.8048C18.6117 17.6046 19.1498 17.0614 19.3347 16.8065C20.0546 15.814 20.6128 14.2579 20.8366 12.6193C21.0399 11.1311 21.0553 8.92704 20.8726 7.46584C20.7678 6.62746 20.6112 5.83373 20.4055 5.09729C20.0148 3.69878 19.2381 2.58534 18.1158 1.81473C17.1923 1.18067 16.1949 0.773951 14.8416 0.479577C13.11 0.102944 10.9469 -0.0722729 9.26322 0.0276967ZM11.5533 3.51906C12.9434 3.63863 14.2655 4.31461 15.1759 5.37135C15.8196 6.11842 16.2444 7.01317 16.4222 7.9958C16.4698 8.25908 16.4776 8.38699 16.4776 8.90487C16.4776 9.42182 16.4697 9.55128 16.4223 9.81503C16.3912 9.98789 16.3422 10.1709 16.3104 10.233C16.1273 10.591 15.5725 10.5662 15.4164 10.193C15.3723 10.0877 15.3734 9.94786 15.4203 9.70433C15.5502 9.02848 15.4989 8.22978 15.282 7.55194C15.179 7.22984 14.8748 6.62705 14.6753 6.34964C13.6476 4.92053 11.9296 4.2495 10.1728 4.59098C9.86157 4.65149 9.67253 4.57326 9.55502 4.33537C9.4366 4.0956 9.5152 3.82101 9.73803 3.6959C10.0028 3.54725 10.8836 3.46145 11.5533 3.51906ZM6.32863 4.5494C6.5259 4.61722 6.64099 4.70413 6.9539 5.02163C7.54572 5.62213 8.01958 6.28746 8.38786 7.03499C8.54893 7.36189 8.58015 7.50311 8.53718 7.70991C8.4921 7.92695 8.36001 8.09673 8.02206 8.37214C7.69529 8.63839 7.56983 8.77447 7.46271 8.97867C7.39716 9.10363 7.39187 9.13369 7.39335 9.37225C7.39477 9.60269 7.40381 9.65418 7.47717 9.84984C7.65964 10.3365 8.00529 10.914 8.38567 11.3678C8.89075 11.9703 9.56401 12.4786 10.3713 12.8669C10.8054 13.0757 10.957 13.121 11.1698 13.1054C11.4656 13.0836 11.6975 12.9241 11.9441 12.5725C12.1727 12.2467 12.4426 12.0605 12.7685 12.0039C13.0359 11.9574 13.4007 12.043 13.7252 12.2286C13.9885 12.379 15.5065 13.5041 15.6812 13.6783C15.8989 13.8952 16.0011 14.1208 16.0011 14.3842C16.0011 14.5833 15.9467 14.7685 15.8115 15.03C15.5259 15.5819 15.1108 15.9792 14.5038 16.2815C14.1692 16.4481 13.9732 16.4918 13.6397 16.4745C13.3334 16.4585 13.212 16.4215 12.6696 16.1783C9.46211 14.7399 7.05518 12.6395 5.34953 9.79043C4.96117 9.14173 4.73234 8.66681 4.3658 7.74873C4.02751 6.90137 3.98885 6.75398 4.01423 6.40809C4.07885 5.52728 4.73248 4.81436 5.71727 4.55056C5.94338 4.49 6.15458 4.4896 6.32863 4.5494ZM11.5656 5.02947C12.2078 5.11606 12.735 5.31352 13.2524 5.6612C14.4501 6.46605 15.1189 7.84301 14.9923 9.24338C14.9551 9.65506 14.9003 9.79951 14.7415 9.9045C14.6634 9.9561 14.6008 9.97519 14.4869 9.98201C14.2874 9.99396 14.1446 9.92162 14.0423 9.75671C13.9616 9.62643 13.9604 9.61078 13.9908 9.04017C14.0113 8.65335 13.9803 8.40483 13.866 8.04057C13.6312 7.2923 13.0486 6.62222 12.3413 6.28684C11.8754 6.06595 11.4745 5.9873 10.9513 6.01414C10.381 6.04344 10.3736 6.0429 10.2442 5.96283C9.94229 5.77607 9.93209 5.34058 10.2248 5.1351C10.4036 5.00955 11.0438 4.95912 11.5656 5.02947ZM11.5347 6.55431C12.6032 6.77916 13.4073 7.7016 13.4985 8.80707C13.5196 9.06162 13.4895 9.19133 13.3808 9.31494C13.0575 9.68279 12.5037 9.44705 12.5019 8.94079C12.5007 8.61133 12.3425 8.23556 12.0951 7.97425C11.8254 7.68944 11.5132 7.54227 11.0939 7.50237C10.8232 7.47661 10.7454 7.44587 10.6361 7.32162C10.4182 7.07366 10.4904 6.70522 10.7865 6.55441C10.9034 6.49485 10.93 6.49096 11.1347 6.50336C11.2566 6.51072 11.4366 6.53364 11.5347 6.55431Z" fill="#6C6C6C"/>
                                </svg>

                    a.btn_default(href="#") Задать вопрос



    nav
        .container
            .d_flex
                ul.menu
                    for m_item, index in main_menu
                        li(class=(index===2)?'sale':'')
                            a(href="#")=m_item
                a.btn_default(href="#") Задать вопрос


















